<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @userName %>,</h1>
    <p>
      <%= @message %>
    </p>
    <br>
    <br>
    <p> Your OTP is </p><br>
    <p class="jumbotron"><%= @otp %></p>
  </body>
</html>
