
<% content_for :content do %>
  <p class="minitron">Change password</p>
  <%= form_tag("/changePassword") do %>
  	Enter old password:<br><input type="password" name="oldPassword"><br>
  	Enter new password:<br><input type="password" name="newPassword"><br>
  	confirm password:<br><input type="password" name="confirmPassword"><br> 
  <div class="button-group">
  <input type="submit" value="Enter">
  </div>
<% end %>
<% end %>

<%= render template: "user/base" %>