
<% content_for :content do %>
  <p class="minitron">Email of Your Account</p>
  <%= form_tag("/forgotPassword") do %>
  	Enter email:<br><input type="email" name="email"><br>
  <div class="button-group">
  <input type="submit" value="Enter">
  </div>
<% end %>
<% end %>

<%= render template: "user/base" %>