
<% content_for :content do %>
  <p class="jumbotron">Welcome To Two Way Authentication</p>
  <div class="button-group">
  <a href="/signin">SignIn</a>
  <a href="/signup">SignUp</a>
  </div>
<% end %>

<%= render template: "user/base" %>