
<% content_for :content do %>
  <p class="minitron">SignUp</p>
  <%= form_tag("/signup") do %>
  	Enter name:<br><input name="name"><br>
  	Enter email:<br><input type="email" name="email"><br>
  	Enter password:<br><input type="password" name="password"><br>
  	confirm password:<br><input type="password" name="confirmPassword"><br> 
  <div class="button-group">
  <input type="submit" value="SignUp">
  </div>
<% end %>
<% end %>

<%= render template: "user/base" %>