
<% content_for :content do %>
  <p class="minitron">SignIn</p>
  <%= form_tag("/signin") do %>
  	Enter email:<br><input type="email" name="email"><br>
  	Enter password:<br><input type="password" name="password"><br>
  <div class="button-group">
  <input type="submit" value="SignIn">
  <a href="/forgotPassword">Forgot Password?</a>
  </div>
<% end %>
<% end %>

<%= render template: "user/base" %>