<% content_for :content do %>
  <p class="Minitron">Verify your account by entering the OTP sent to your email</p><br>
  <%= form_tag("/verifyOTP") do %>
  	Enter OTP:<br><input type="password" name="OTP"><br> 
  <div class="button-group">
  <input type="submit" value="Verify">
  <a href="/logout">Logout</a>
  <a href="/resendOTP">Resend OTP</a>
  </div>
<% end %>
<% end %>

<%= render template: "user/base" %>