
<% content_for :content do %>
  <p class="minitron">Welcome Home Avenger</p><br>
  <p class="jumbotron"><%= @userName %></p> 
  <div class="button-group">
  <a href="/logout">Logout</a>
   <a href="/changePassword">Change Password</a>
  </div>
<% end %>

<%= render template: "user/base" %>