/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{

 	background-color: #1976d2;

 }
 .minitron{
 	z-index: 1000;
 	font-size: 20px;
 	text-align: center;
 	font-style: "Arial";
 	font-weight: bold;
 	
 }
 .jumbotron{
 	font-size: 100px;
 	text-align: center;
 	font-style: "Arial";
 	font-weight: bold;
 	
 }
 .button-group{
 	text-align: center;
 }
 input
 {
	width : 80%;
	height: 20px;
	margin-bottom: 2%;
	margin-top: 1%;
	margin-left: 5%;
}
 .button-group input[type=submit]{
 	background-color: #1976d2;
 	margin-left: 5%;
 	margin-right: 5%;
 	border-style: solid;
 	padding: 10px 30px 30px 30px;
 	color: #fff;
 	width: 20%;
 	font-weight: bold;
 	text-align: center;
 	border-color: black;
 	font-style: "Arial";
 	box-shadow: 5px 5px #ccc;
 }
 .button-group a{
 	background-color: #1976d2;
 	margin-left: 5%;
 	margin-right: 5%;
 	border-style: solid;
 	padding: 20px 30px 20px 30px;
 	color: #fff;
 	font-weight: bold;
 	text-align: center;
 	border-color: black;
 	font-style: "Arial";
 	box-shadow: 5px 5px #ccc;
 }

form{
	padding-top: 2%;
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
	border-style: solid;
	text-align: center;
}

 .content {
 	position: absolute;
 	top:0;
 	left:0;
 	width: 99.7%;
 	height: 90%;
 	background-color: #fff;
 	z-index: 10;
 	border: 1px solid gray;
 	-webkit-box-shadow: 0px 0px 0px 20px #006;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 0px 20px #006;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         0px 0px 0px 20px #006;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
 	
